.git
.gitignore
.circleci
**/build/
**/.gradle/
**/out/
**/bin/
**/target/
**/node_modules/
**/*.log
**/*.pid
.idea/
**/*.iml
**/*.ipr
**/*.iws
.vscode/
.classpath
.project
.settings/
.DS_Store
deployment/
mysql/
**/Dockerfile
docker-compose*.yml
*.md
*.adoc
