.gradle
build/
*.idea/
*.iml
*.log
*.pid
out
target
.serverless
*.pid
.classpath
.project
.settings
bin
node_modules
dist
ftgo-api-gateway-graphql/jest_0

# Docker
.docker/

# Terraform
deploy/terraform/.terraform/
deploy/terraform/*.tfstate
deploy/terraform/*.tfstate.backup

# IDE
.vscode/
*.swp
*.swo
